<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col-md-8">
            <%= flash["notice"] %>
          </div>

          <ul class="navbar-nav ">
            
            <% if @current_user %>
              <li class="nav-item">
                <a class="nav-link " href="/" >Home</a>
              </li>
              
              <li class="navbar-text ">
                Logged in as: <%= @current_user["username"] %>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/logout" >Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/login" class ="btn btn-primary">Login</a>
              </li>
              <li>
                <a class="nav-link" href="/users/new" class ="btn btn-primary">Signup</a>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>

    <%= yield %>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>